<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vista de Auditorios">
  <meta name="author" content="Metro center Asher Kleiman">

  <title>MetroCenter - Auditorios</title>


</head>

<body>
<header ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak> 
    <nav style="margin-top:1px;" class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" style="padding-left: 250px">
            <li><a href="/">Home</a></li>
            <li><a href="/commerce">Tienda</a></li>
            <li><a href="/locales">Locales</a></li> 
            <li class="active"><a href="/espacios">Espacios</a></li> 
            <li><a ng-click="verificarLog()" href="/perfil">Perfil</a></li>
          </ul>
          <!-- ******************Simple Formulario de LogIn ****************** -->
          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- EMAIL -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>

              <!-- SUBMIT -->
              <button style="margin-top: -3px;" type="submit" class="btn btn-success">
                <span ng-show="!loginForm.loading">Entrar</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Entrando...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
          </div>
        </nav>
  </header>

  <div ><h2  style="margin-top: 50px; margin-bottom: 30px;" align="center"><strong>Auditorios</strong></h2></div>

  <div  style="width: 50%; margin-left: 350px;" class="list-group">
      <% audi.forEach(function(auditorio)  { %>
         <a href="#" class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading"><strong><%- auditorio.nombre %></strong></h5>
            <p class="list-group-item-text">Lugar: <%- auditorio.localizacion %></p>
            <p class="list-group-item-text">Evento: <%- auditorio.evento %></p>            
        </a>
      <% }); %>
  </div>

  <div style="margin:30px; " align="center" ><img src="http://www.unimet.edu.ve/unimetsite/wp-content/uploads/2015/11/IMG_9803.jpg"></div>
  
</body>
</html>



