<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Vista de Auditorios">
  <meta name="author" content="Metro Center-Jose Raffalli">

  <title>MetroCenter - Auditorios</title>

  <style>

  .img-circle 
  {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    transition: background 0.2s, color 0.2s;  
  }
  .img-circle:hover
  {
    background: rgba(255,255,255,1);
    background-color: #F47F30;
    color: #64bb5d;
  }

  </style>

</head>

<body>
<header ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak> 
    <nav style="margin-top:1px;" class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" style="padding-left: 250px">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/commerce">Tienda</a></li>
            <li><a href="/locales">Locales</a></li> 
            <li><a href="/espacios">Espacios</a></li> 
            <li><a ng-click="verificarLog()" href="/perfil">Perfil</a></li>
          </ul>
          <!-- ******************Simple Formulario de LogIn ****************** -->
          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- EMAIL -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>

              <!-- SUBMIT -->
              <button type="submit" class="btn btn-success">
                <span ng-show="!loginForm.loading">Entrar</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Entrando...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
          </div>
        </nav>
  </header>
  <div><h1 align="center">AUDITORIOS</h1></div>
  <div class="list-group">
    <a href="#1" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Auditorio1</h5>
      <p class="list-group-item-text">Breve descripcion del espacio.</p>
    </a>
    <a href="#2" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Auditorio2</h5>
      <p class="list-group-item-text">Breve descripcion del espacio.</p>
    </a>
    <a href="#3" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Auditorio3</h5>
      <p class="list-group-item-text">Breve descripcion del espacio.</p>
    </a>
  </div>
  
</body>
</html>



