<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cubiculos de la universidad">
  <meta name="author" content="Metro Center-Jose Raffalli/Asher Kleiman">

	<title>Cubículos</title>

</head>
<header > 
    <nav class="navbar navbar-default navbar-inverse">      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/#"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

          <!-- Links -->
          <ul class="nav navbar-nav" style="margin-left: 30px;" >
            <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Páginas<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Página de Inicio</a></li>
              <li><a href="/signup">Regístrate</a></li>
              <li><a href="/signup">Acerca de Nosotros</a></li>
              <li><a href="/signup">Contáctanos</a></li>
              <li><a href="/perfil">Perfil</a></li>
              </ul>
            </li>
          </ul>
          </div>
      </nav>
  </header>
<body>
  <p>
    <h3 style="margin-left: 200px; margin-top: 75px; margin-bottom: 50px; ">
    En esta sección podrás observar la disponibilidad de todos los cubículos de <br>
    la biblioteca Pedro Gases, así como su hora de desalojo de no estar disponibles.<br> 
    <strong>¡Sí!</strong> escuchaste bien, todo esto en  <strong class="text-primary">tiempo real.</strong>
    </h3>
  </p>

  <h2 style=" margin-left: 200px;" >Cubículos:</h2>
	<table class="table" style="width: 70%;" align="center" >
  <thead>
    <tr>
      <th>Número</th>
      <th>Disponinilidad</th>
      <th>Hora de Entrada</th>
      <th>Hora de Salida</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Disponible</td>
      <td>10:30</td>
      <td>12:00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

</body>
</html>