<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cubiculos de la universidad">
  <meta name="author" content="Metro Center-Jose Raffalli/Asher Kleiman">

	<title>Cubículos</title>

</head>


<body>
<header> 
    <nav style="margin-top:1px;" class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <div ><a class="navbar-brand" href="/"></a></div>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" style="padding-left: 250px">

            <li><a href="/">Home</a></li>
            <li><a href="/commerce">Tienda</a></li>
            <li><a href="/locales">Locales</a></li> 
            <li  class="active"><a href="/espacios">Espacios</a></li> 
          </ul>
          </div>
        </nav>
</header>

<!-- ==================================TABLA Cubiculos======================================= -->
  
    <p>
    <h3 style="margin-left: 200px; margin-top: 75px; margin-bottom: 50px; ">
    En esta sección podrás observar la disponibilidad de todos los cubículos de <br>
    la biblioteca Pedro Gases, así como su hora de desalojo de no estar disponibles.<br> 
    <strong>¡Sí!</strong> escuchaste bien, todo esto en  <strong class="text-primary">tiempo real.</strong>
    </h3>
  </p>

  

  <h2 style=" margin-left: 200px;" >Cubículos:</h2>
	<table class="table" style="width: 70%;" align="center" >
  <thead>
    <tr>
      <th>Número</th>
      <th>Disponibilidad</th>
      <th>Hora de Salida</th>
    </tr>
  </thead>

  <tbody>
  <% TablaCubiculos.forEach(function(cubiculo)  { %>
    <tr>
      <th scope="row"><%= cubiculo.id %></th>
      <% if(cubiculo.disponibilidad) { %><td>Disponible</td><% } else { %><td>Ocupado</td><% } %>
      <% if(cubiculo.hora_salida == null) { %><td>-</td><% } else { %><td><%= cubiculo.hora_salida %></td><% } %>
    </tr>
  <% }); %>
  </tbody>
</table>

</body>
</html>