<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
  <!-- Slide de imagenes -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- fin Slide de imagenes -->
  <!-- Styles -->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" type="text/css" href="/styles/mailchimp.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <!-- Styles End -->
  <!-- Css Extra -->
    <style>
    article {
      padding: 1em;
      overflow: hidden;
      margin-right: 600px;
    }
    .izquierdaDeArticulo {
     float: left;
     max-width: 160px;
     margin: 0;
     padding: 1em;
    }
    </style>
  </head>
  <body ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak>
     <!-- Crea la barra de navegacion -->
        <nav class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/#"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">


          <!-- ******************Simple Formulario de LogIn ****************** -->
          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- EMAIL -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email / Carnet" name="email" class="form-control">
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>

              <!-- SUBMIT -->
              <button type="submit" class="btn btn-success">
                <span ng-show="!loginForm.loading">Entrar</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Entrando...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
        </nav>
     <center><img src="images\MetrocenterLogoForPage.png" alt="Metro Center" align="middle"></center><br>
     
    <h1 align="center">Bienvenido!</h1><br>
     <!-- Crea el slide show -->

        <aside><div class="w3-content" style="max-width:300px;position:relative;>
              <a href="signup"><img class="mySlides" src="images/utiles.jpg" style="width:100%"></a>
              <a href="signup"><img class="mySlides" src="images/estacionamiento.png" style="width:100%"></a>
              <a href="signup"><img class="mySlides" src="images/salon.png" style="width:100%"></a>
              <a href="signup"><img class="mySlides" src="images/comida.png" style="width:100%"></a>

              <a class="w3-btn-floating" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
              <a class="w3-btn-floating" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>
        </div>


      <div>
        <div style="text-align: center;">
          ¡No te pierdas de la mejor experiencia universitaria para obtener los mejores resultados de tu esfuerzo!
        </div>
      </div>
</aside>


      <article>
        <div style="text-align: justify;"><br><strong>
          Usa nuestra página para encontrar todo lo que necesites: reserva de espacios académicos, información sobre los locales de comida de la universidad, pago del estacionamiento, compra de materiales universitarios con entrega dentro de la universidad y ¡diferentes paquetes que mezclan todo lo anterior!</div>
        </div></strong>
      </article>
      <div class="izquierdaDeArticulo">
      <h2 style="color:#f06128">Servicios</h2>
      <p>Elige el servicio que deseas:</p>
      </div>
      <article>
      <div class="w3-container">
        <ul class="w3-ul w3-border">
         <a href="signup"><li style="color:#19509c">Espacios Académicos</li></a>
         <a href="signup"><li style="color:#19509c">Locales de Comida</li></a>
         <a href="signup"><li style="color:#19509c">Estacionamiento</li></a>
         <a href="signup"><li style="color:#19509c">Útiles</li></a>
         <a href="signup"><li style="color:#19509c">¡Paquetes!</li></a>
        </ul>
      </div>
      </article>


    <center>
      <td width="24" valign="left" align="center">
        <a href="http://www.twitter.com/ReynaldoQM" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:inline;" class="" width="24" height="24"></a>
      </td>
        <td width="24" valign="middle" align="center">
          <a href="https://www.facebook.com/reynaldo.quintero.18" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:inline;" class="" width="24" height="24"></a>
        </td>
        <td width="24" valign="right" align="center">
            <a href="https://www.snapchat.com/add/rquintero96" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-snapchat-48.png" style="display:inline;" class="" width="24" height="24"></a><br><br>
        </td>

      
        <td class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top">
                        
          <em>Copyright © 2016 Metro Center, All rights reserved.</em><br>
          <strong>Sitio de la universidad:</strong> <a href="http://www.unimet.edu.ve"><br>
          UNIMET<br></a>
        </td>
      </center>




      <!-- Scripts -->
        <script>
              var slideIndex = 1;
              showDivs(slideIndex);

              function plusDivs(n) {
                showDivs(slideIndex += n);
              }

              function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}    
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";  
                }
                x[slideIndex-1].style.display = "block";  
              }
        </script>
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.js"></script>
        <script src="/js/dependencies/toastr.js"></script>
        <script src="/js/dependencies/compareTo.js"></script>
        <script src="/js/public/signup/ModuloDeRegistro.js"></script>
        <script src="/js/public/signup/ControladorDeRegistro.js"></script>
  </body>