<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
  <!-- Slide de imagenes -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <!-- fin Slide de imagenes -->
  <!-- STYLES -->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <link rel="stylesheet" href="/styles/mailchimp.css">
  <!-- STYLES END -->

    <link rel="stylesheet" type="text/css" href="/styles/mailchimp.css">
    <!-- Styles End -->

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- NAME: LEFT SIDEBAR -->
    <!--[if gte mso 15]>
    <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak>
     <div class="container-fluid">

      <!-- Crea la barra de navegacion -->
        <nav class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/#"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

          <!-- ******************BARRA DE NAVEGACION A OTRAS PAGINAS ****************** -->
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Páginas Básicas
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Página de Inicio</a></li>
              <li><a href="/signup">Regístrate</a></li>
              <li><a href="/signup">Acerca de Nosotros</a></li>
              <li><a href="/signup">Contáctanos</a></li>
              </ul>
              </li>
              <a href="/perfil"><button class="btn btn-primary" type="button">Perfil</button></a>
 
            </ul>
          <!-- ******************Simple Formulario de LogIn ****************** -->
          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- EMAIL -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email / Carnet" name="email" class="form-control">
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>

              <!-- SUBMIT -->
              <button type="submit" class="btn btn-success">
                <span ng-show="!loginForm.loading">Entrar</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Entrando...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
        </nav>
        </div>
      </div>

        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="center" valign="top" id="bodyCell">
            <!-- BEGIN TEMPLATE // -->
            <!--[if gte mso 9]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
            <tr>
            <td align="center" valign="top" width="600" style="width:600px;">
            <![endif]-->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
              <tr>
                <td valign="top" id="templatePreheader"><table class="mcnImageBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td style="padding:9px" class="mcnImageBlockInner" valign="top">
                    <table class="mcnImageContentContainer" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                        <tbody><tr>
                            <td class="mcnImageContent" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;" valign="top">
                                
                                    
                                        <img alt="" src="https://gallery.mailchimp.com/f1c72d49add9c8a4e4dfaba11/images/bb7cb47b-0e00-4a61-ad9d-b797571871c3.png" style="max-width:300px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" width="300" align="middle">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
              </tr>
              <tr>
                <td valign="top" id="templateHeader"><table class="mcnTextBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                <!--[if mso]>
        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
        <tr>
        <![endif]-->
          
        <!--[if mso]>
        <td valign="top" width="600" style="width:600px;">
        <![endif]-->
                <table style="max-width:100%; min-width:100%;" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody><tr>
                        
                        <td class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top">
                        
                            <div style="text-align: center;"><span style="color:#f06128"><span style="font-size:32px">¡Bienvenido!</span></span></div>

                        </td>
                    </tr>
                </tbody></table>
        <!--[if mso]>
        </td>
        <![endif]-->
                
        <!--[if mso]>
        </tr>
        </table>
        <![endif]-->
            </td>
        </tr>
    </tbody>
</table></td>
              </tr>
              <tr>
                <td valign="top">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                    <tr>
                      <td valign="top">
                        <!--[if gte mso 9]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" dir="rtl" width="600" style="width:600px;">
                        <tr>
                        <td align="center" dir="ltr" valign="top" width="400" style="width:400px;">
                        <![endif]-->
                        <table align="right" border="0" cellpadding="0" cellspacing="0" width="400" id="templateBody">
                          <tr>
                            <td><table class="mcnCaptionBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody class="mcnCaptionBlockOuter">
        <tr>
            <td class="mcnCaptionBlockInner" style="padding:9px;" valign="top">
                

<table class="mcnCaptionBottomContent" width="false" cellspacing="0" cellpadding="0" border="0" align="left">
    <tbody><tr>
            <h2 class="w3-center">¡Mira nuestros servicios!</h2>

            <p>
            </p>

            <div class="w3-content" style="max-width:800px;position:relative">
              <a href="signup"><img class="mySlides" src="images/utiles.jpg" style="width:100%"></a>
              <a href="signup"><img class="mySlides" src="images/estacionamiento.png" style="width:100%"></a>
              <a href="signup"><img class="mySlides" src="images/salon.png" style="width:100%"></a>
              <a href="signup"><img class="mySlides" src="images/comida.png" style="width:100%"></a>

              <a class="w3-btn-floating" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
              <a class="w3-btn-floating" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>
            </div>

    </tr>
    <tr>
    <p>
    </p>
        <td class="mcnTextContent" style="padding:0 9px 0 9px;" width="364" valign="top">
            <span style="color:#FF8C00">¡No te pierdas de la mejor experiencia universitaria para obtener los mejores resultados de tu esfuerzo!</span>
        </td>
    </tr>
</tbody></table>





            </td>
        </tr>
    </tbody>
</table></td>
                          </tr>
                        </table>
                        <!--[if gte mso 9]>
                        </td>
                        <td align="center" dir="ltr" valign="top" width="200" style="width:200px;">
                        <![endif]-->
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200" id="templateSidebar">
                          <tr>
                            <td valign="top"><table class="mcnTextBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                <!--[if mso]>
        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
        <tr>
        <![endif]-->
          
        <!--[if mso]>
        <td valign="top" width="200" style="width:200px;">
        <![endif]-->
                <table style="max-width:100%; min-width:100%;" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody><tr>
                        
                        <td class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top">
                        
                            <h1>¡No te pierdas de la mejor experiencia universitaria!</h1>

<div style="text-align: justify;"><br>
Usa nuestra página para encontrar todo lo que necesites: reserva de espacios académicos, información sobre los locales de comida de la universidad, pago del estacionamiento, compra de materiales universitarios con entrega dentro de la universidad y ¡diferentes paquetes de estos útiles!</div>
<p>
</p>
<div class="w3-container">
  <h2 style="color:#f06128">Servicios</h2>
  <p>Elige el servicio que deseas:</p>
  <ul class="w3-ul w3-border">
    <a href="signup"><li style="color:#19509c">Espacios Académicos</li></a>
    <a href="signup"><li style="color:#19509c">Locales de Comida</li></a>
    <a href="signup"><li style="color:#19509c">Estacionamiento</li></a>
    <a href="signup"><li style="color:#19509c">Útiles</li></a>
    <a href="signup"><li style="color:#19509c">¡Paquetes!</li></a>
  </ul>
</div>

                        </td>
                    </tr>
                </tbody></table>
        <!--[if mso]>
        </td>
        <![endif]-->
                
        <!--[if mso]>
        </tr>
        </table>
        <![endif]-->
            </td>
        </tr>
    </tbody>
</table></td>
                          </tr>
                        </table>
                        <!--[if gte mso 9]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td valign="top" id="templateFooter"><table class="mcnFollowBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody class="mcnFollowBlockOuter">
        <tr>
            <td style="padding:9px" class="mcnFollowBlockInner" valign="top" align="center">
                <table class="mcnFollowContentContainer" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
        <td style="padding-left:9px;padding-right:9px;" align="center">
            <table style="min-width:100%;" class="mcnFollowContent" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td style="padding-top:9px; padding-right:9px; padding-left:9px;" valign="top" align="center">
                        <table cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody><tr>
                                <td valign="top" align="center">
                                    <!--[if mso]>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                    <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table style="display:inline;" cellspacing="0" cellpadding="0" border="0" align="left">
                                                <tbody><tr>
                                                    <td style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer" valign="top">
                                                        <table class="mcnFollowContentItem" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody><tr>
                                                                <td style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;" valign="middle" align="left">
                                                                    <table width="" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                        <tbody><tr>
                                                                            
                                                                                <td class="mcnFollowIconContent" width="24" valign="middle" align="center">
                                                                                    <a href="http://www.twitter.com/ReynaldoQM" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:block;" class="" width="24" height="24"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table style="display:inline;" cellspacing="0" cellpadding="0" border="0" align="left">
                                                <tbody><tr>
                                                    <td style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer" valign="top">
                                                        <table class="mcnFollowContentItem" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody><tr>
                                                                <td style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;" valign="middle" align="left">
                                                                    <table width="" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                        <tbody><tr>
                                                                            
                                                                                <td class="mcnFollowIconContent" width="24" valign="middle" align="center">
                                                                                    <a href="https://www.facebook.com/reynaldo.quintero.18" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" class="" width="24" height="24"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table style="display:inline;" cellspacing="0" cellpadding="0" border="0" align="left">
                                                <tbody><tr>
                                                    <td style="padding-right:0; padding-bottom:9px;" class="mcnFollowContentItemContainer" valign="top">
                                                        <table class="mcnFollowContentItem" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody><tr>
                                                                <td style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;" valign="middle" align="left">
                                                                    <table width="" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                        <tbody><tr>
                                                                            
                                                                                <td class="mcnFollowIconContent" width="24" valign="middle" align="center">
                                                                                    <a href="https://www.snapchat.com/add/rquintero96" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-snapchat-48.png" style="display:block;" class="" width="24" height="24"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                    <!--[if mso]>
                                    </tr>
                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table><table class="mcnDividerBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
                <table class="mcnDividerContent" style="min-width: 100%;border-top: 2px solid #EEEEEE;" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
<!--            
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
-->
            </td>
        </tr>
    </tbody>
</table><table class="mcnTextBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                <!--[if mso]>
        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
        <tr>
        <![endif]-->
          
        <!--[if mso]>
        <td valign="top" width="600" style="width:600px;">
        <![endif]-->
                <table style="max-width:100%; min-width:100%;" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody><tr>
                        
                        <td class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top">
                        
                            <em>Copyright © 2016 Metro Center, All rights reserved.</em><br>
<strong>Sitio de la universidad:</strong> <a href="http://www.unimet.edu.ve"><br>

UNIMET<br>
&nbsp;
                        </td>
                    </tr>
                </tbody></table>
        <!--[if mso]>
        </td>
        <![endif]-->
                
        <!--[if mso]>
        </tr>
        </table>
        <![endif]-->
            </td>
        </tr>
    </tbody>
</table></td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->
            <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>

        <!-- Scripts -->
        <script>
              var slideIndex = 1;
              showDivs(slideIndex);

              function plusDivs(n) {
                showDivs(slideIndex += n);
              }

              function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}    
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";  
                }
                x[slideIndex-1].style.display = "block";  
              }
        </script>
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.js"></script>
        <script src="/js/dependencies/toastr.js"></script>
        <script src="/js/dependencies/compareTo.js"></script>
        <script src="/js/public/signup/ModuloDeRegistro.js"></script>
        <script src="/js/public/signup/ControladorDeRegistro.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>