<!DOCTYPE html>
<html>
<head>
	<title>Información</title>
	
	<script type="text/javascript">
	    window.SAILS_LOCALS = {
	      _csrf: '<%= _csrf %>',
	      lcl: <%- JSON.stringify(lcl) %>
	    };
	</script>

</head>
<body>
<h1> <%= lcl.nombre %> </h1>

</body>
</html>