<!DOCTYPE html>
<html>
<head>
	<title>perfil</title>
	<!--STYLES-->
	<link rel="stylesheet" href="/styles/angular-toastr.css">
	<link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
	<link rel="stylesheet" href="/styles/carrusel.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<!--STYLES END-->

<script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };

    // var u=me.toJSON();
    </script>

</head>
<body onload="alerta()">

<!-- Crea la barra de navegacion -->
        <nav class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/#"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          
        </nav>
         
           <table ng-app="ModuloDePerfil" ng-controller="ControladorDePerfil">
                <thead>
                    <tr>
                        <th> Nombre : </th>
                        <th> Apellido : </th>
                        <th> Email : </th>
                    </tr>
                    <tr>
                        <th>{{ usuarios.nombre }}</th>
                        <th>{{ usuarios.apellido }}</th>
                        <th>{{ usuarios.email }}</th>
                    </tr>
                </thead>
            </table>               
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/toastr.js"></script>
<script src="/js/dependencies/compareTo.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/public/signup/ModuloDeRegistro.js"></script>
<script src="/js/public/homepage/ModuloHomePage.js"></script>
<script src="/js/public/homepage/ControladorDeHomePage.js"></script>
<script src="/js/public/signup/ControladorDeRegistro.js"></script>
<!--SCRIPTS END-->

<script>
        //NO MODIFICAR

        var app = angular.module('ModuloDePerfil', []);
        
        app.controller('ControladorDePerfil', function($scope, $http) {
            
          //$scope.usuarios = usuario;
        
           $http.get('/homepage/usuarios.json').success(function(data){
           $scope.usuarios = data;
     });

        
        });

        function alerta () { }


        
    </script>


</body>
</html>