<!DOCTYPE html>
<html>
<head>
	<title>Sakila</title>
	<link rel="stylesheet" type="text/css" href="/styles/tarea.css">
</head>
<body>

<button class="btn btn-lg btn-query"><span class="glyphicon glyphicon-play"></span> Query #5</button>

</body>
</html>